<div class="container">
  <div class="page-content">
    <h1>Contact Us</h1>
    
    <div class="contact-info">
      <div class="contact-section">
        <h2>Store Location</h2>
        <p>123 Music Street<br>
        Winnipeg, MB R3C 1A1<br>
        Canada</p>
      </div>

      <div class="contact-section">
        <h2>Hours</h2>
        <p>Monday - Friday: 10:00 AM - 8:00 PM<br>
        Saturday: 10:00 AM - 6:00 PM<br>
        Sunday: 12:00 PM - 5:00 PM</p>
      </div>

      <div class="contact-section">
        <h2>Get In Touch</h2>
        <p>Phone: (204) 555-MUSIC<br>
        Email: info@intothemusic.com</p>
      </div>

      <div class="contact-section">
        <h2>Have Questions?</h2>
        <p>Feel free to call or email us with any questions about our products, special orders, or music lessons. We're here to help!</p>
      </div>
    </div>

    <%= link_to 'Back to Store', root_path, class: 'btn' %>
  </div>
</div>